:root {
  /* colors */
  --orange-main: #cd6326;
  --orange-light: #e39128;
  --orange-dark: #8f5613;
  --font-light: #f7f7f7;
  --font-grey: #666666;
  --font-grey-light: #cccccc;
  --font-dark: #333333;

  /* font */
  --font-main: "Open Sans", sans-serif;
  --font-second: "Roboto", sans-serif;

  /* animation */
  --animation-transition: all 0.2s ease-in-out;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/Open_Sans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-Regular.svg#OpenSans-Regular")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}

/* .wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
} */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Head section */

.head__section {
  background: url(../img/header_bg.png) center/cover no-repeat;
  height: 779px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  margin-bottom: 120px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo__img {
  margin-right: 15px;
}

.logo__name {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--font-light);
}

.navigation__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navigation__menu-item {
  margin-right: 66px;
}

.navigation__menu-item:last-child {
  margin-right: 0;
}

.navigation__menu-link {
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
  color: var(--font-light);
  text-decoration: none;
  transition: var(--animation-transition);
}

.navigation__menu-link:hover,
.footer__nav-link:hover {
  color: var(--orange-main);
}

.navigation__menu-link:active,
.footer__nav-link:active,
.slider-btn:active {
  color: var(--orange-dark);
}

.sign-in__btn {
  font-family: var(--font-second);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 2px solid var(--orange-main);
  box-sizing: border-box;
  border-radius: 5px;
}

.sign-in__btn:hover {
  background-color: var(--orange-main);
  color: var(--font-light);
}

.sign-in__btn:active {
  background-color: var(--orange-dark);
  border-color: var(--orange-dark);
}

/* Survival section */

.survival__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: var(--orange-main);
  margin-bottom: 51px;
}

.survival__text {
  width: 274px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--font-light);
  margin-bottom: 49px;
}

.donate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  text-decoration: none;
  color: var(--font-light);
  background: var(--orange-main);
  border-radius: 5px;
  transition: var(--animation-transition);
}

.donate-btn:hover {
  background: var(--orange-light);
  color: var(--font-light);
}

.donate-btn:active {
  background-color: var(--orange-dark);
}

/* Main section */

.main {
  background-color: var(--font-grey-light);
  height: 1368px;
}

.articles__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: var(--font-dark);
  padding-top: 120px;
}

.articles__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--font-grey);
  padding-top: 20px;
  margin-bottom: 120px;
}

/* Slider */
.slider__container {
  position: relative;
}

.slider {
  max-width: 1020px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 29px;
  height: 39px;
  transition: var(--animation-transition);
}

.swiper-button-prev {
  left: 0;
  background: url("../img/button-prev.svg") center no-repeat;
}

.swiper-button-next {
  right: 0;
  background: url("../img/button-next.svg") center no-repeat;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  filter: invert(40%) sepia(77%) saturate(777%) hue-rotate(345deg)
    brightness(94%) contrast(85%);
}

.slider-img {
  max-width: 300px;
  height: 100%;
}

.slider__slide {
  position: relative;
}

.slider__slide-info {
  position: absolute;
  top: 68%;
  width: 100%;
}

.slide-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: var(--font-light);
  margin-bottom: 10px;
}

.slide-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: var(--font-light);
}

/* Notified section */

.notified__section-title {
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: var(--font-dark);
  padding-top: 235px;
}

.notified__form {
  text-align: center;
  padding-top: 60px;
}

.notified__form-email {
  width: 540px;
  height: 60px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: var(--font-grey);
  background-color: transparent;
  border: 1px solid var(--font-grey);
  border-right-style: none;
  border-radius: 2px 0px 0px 2px;
  outline: none;
  padding-left: 15px;
  margin-right: -5px;
}

.notified__form-btn {
  width: 120px;
  height: 60px;
  background: var(--orange-main);
  border: 1px solid var(--orange-main);
  border-radius: 0px 5px 5px 0px;
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  color: var(--font-light);
  outline: none;
  cursor: pointer;
  transition: var(--animation-transition);
}

.notified__form-btn:hover {
  background-color: var(--orange-light);
  border-color: var(--orange-light);
}

.notified__form-btn:active {
  background-color: var(--orange-dark);
  border-color: var(--orange-dark);
}

/* Footer section */

.footer {
  background: url(../img/footer_bg.png) center/cover no-repeat;
  height: 359px;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.footer__logo {
  display: flex;
  flex-direction: row;
}

.footer__logo-img {
  margin-right: 15px;
}

.footer__logo-name {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--font-light);
}

.footer__nav-list {
  display: flex;
  list-style-type: none;
}

.footer__nav-item {
  padding-left: 15px;
  margin-right: 73px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
  color: var(--font-light);
  text-decoration: none;
  transition: var(--animation-transition);
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 240px;
  padding-top: 10px;
}

.social__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  background: var(--font-light);
  border-radius: 50%;
  transition: var(--animation-transition);
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
}

.facebook-icon {
  background: url(../img/facebook.svg) center no-repeat;
}

.instagram-icon {
  background: url(../img/instagram.svg) center no-repeat;
}

.pinterest-icon {
  background: url(../img/pinterest.svg) center no-repeat;
}

.telegram-icon {
  background: url(../img/telegram.svg) center no-repeat;
}

.social__item:hover {
  background-color: var(--orange-main);
}

.social__item:active {
  background-color: var(--orange-dark);
}
